<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

    <title>flip-counter demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../flip-counter.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic flip-counter demo</h3>
      <demo-snippet>
        <template>
          <flip-counter></flip-counter>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
