
<h1>Visitor statistics for: <span class="label">{{sensor_id}}</span></h1>

<h4>Number of People Currently in The Building:</h4>

<div class="counter-wrapper">
  <ul class="flip-counter huge" id="counter"></ul>
</div>

<canvas id="totalChart" ></canvas>
