<h1>Visitor statistics for: {{sensor_id}}</h1>

<h1>
  <div class="counter">
    <span class="decor top"></span>
    <span class="decor bottom"></span>
    <span class="from top"><span></span><span class="shadow"></span></span>
    <span class="from bottom"><span></span><span class="shadow"></span></span>
    <span class="to top"><span></span><span class="shadow"></span></span>
    <span class="to bottom"><span></span><span class="shadow"></span></span>
  </div>
</h1>

<div class="graphs">
  <div>
    <h4>Number of People Currently in The Building:</h4>
    <h5 id="currentNumber" class="numbers">0</h5>
  </div>
  <canvas id="totalChart" width='900' height='300' ></canvas>
</div>
